body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background-image: url("../assets/home.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #DBE2EF;
}

  
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
    position: relative;
    color: #112D4E;
  }

  h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    position: relative;
    color: #112D4E;
  }
  
  h3::after {
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    background-color: #112D4E;
    border-radius: 5px;
  }
  
  ul {
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 0;
  }
  
  ul li {
    margin-bottom: 0.75rem;
    list-style-type: "▶️ ";
    padding-left: 0.5rem;
  }


  
  